.char {
    text-align: center;
    font-family: "frankfurt";
    font-size: 80px;
    color: #9293ff;
    -webkit-text-stroke: 0.1px black;
  }
  .obtrusive{
      text-align: center;
    font-family: "frankfurt";
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 1px black;
    position: relative;
    top: 225px;
    background: none
  }
  .notObtrusive{
      text-align: center;
    font-family: "frankfurt";
    font-size: 35px;
    color: white;
    -webkit-text-stroke: 1px black;
    position: relative;
    top: 225px;
    background: none;
    left: -20px;
  }
  .pic3{
      height: 350px;
      width: 350px;
      margin-left: 25px;
      margin-top: -10px;
    }
  .pic4{
      height: 350px;
      width: 350px;
      margin-left: 25px;
      margin-top: -157px;
    }
  .pic5{
      height: 350px;
      width: 350px;
      margin-left: 436px;
      margin-top: -249px;
      display: block;
    }
    .frame1{
      height: 300px;
      width: 450px;
      margin-left: 36px;
      /* 
      margin-top: -200px; */
    }
    .frame2{
      height: 318px;
      width: 540px;
    }
    

  .player{
    text-align: center;
    font-family: "frankfurt";
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
  }

  .btnHide {
    background-color: #ff8dd7;
    border-radius: 40px;
    font-family: "frankfurt";
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 0.7px black;
    border: solid black 0.1px;
    height: 50px;
    width: 120px;
    
  }
  .btnHide:hover {
    animation: shake3856 0.3s linear infinite both;
    height: 60px;
    width: 130px;
  }